web/WEB-INF/wsdl/192.168.1.212_8080/WSservidor/cargarventasSede.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://api.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://api.ws/">

<xs:element name="InsertarVentasTienda" type="tns:InsertarVentasTienda" />

<xs:element name="InsertarVentasTiendaResponse" type="tns:InsertarVentasTiendaResponse" />

<xs:complexType name="InsertarVentasTienda">
<xs:sequence>
<xs:element name="invfec" type="xs:string" minOccurs="0" />
<xs:element name="codalm" type="xs:string" minOccurs="0" />
<xs:element name="cuscod" type="xs:string" minOccurs="0" />
<xs:element name="cusnam" type="xs:string" minOccurs="0" />
<xs:element name="cusruc" type="xs:string" minOccurs="0" />
<xs:element name="cusadr" type="xs:string" minOccurs="0" />
<xs:element name="destot" type="xs:double" />
<xs:element name="destot_n" type="xs:double" />
<xs:element name="netord" type="xs:double" />
<xs:element name="totord" type="xs:double" />
<xs:element name="totdto" type="xs:double" />
<xs:element name="igvord" type="xs:double" />
<xs:element name="tpacod" type="xs:string" minOccurs="0" />
<xs:element name="docpag" type="xs:string" minOccurs="0" />
<xs:element name="numcmp" type="xs:string" minOccurs="0" />
<xs:element name="usecaj" type="xs:string" minOccurs="0" />
<xs:element name="invsta" type="xs:string" minOccurs="0" />
<xs:element name="numdoc" type="xs:int" />
<xs:element name="tdofac" type="xs:string" minOccurs="0" />
<xs:element name="codstd" type="xs:string" minOccurs="0" />
<xs:element name="tipcli" type="xs:string" minOccurs="0" />
<xs:element name="prfnum" type="xs:int" />
<xs:element name="medcod" type="xs:string" minOccurs="0" />
<xs:element name="plnnum" type="xs:string" minOccurs="0" />
<xs:element name="destot_p" type="xs:string" minOccurs="0" />
<xs:element name="codpre" type="xs:string" minOccurs="0" />
<xs:element name="tipkar" type="xs:string" minOccurs="0" />
<xs:element name="tarcod" type="xs:string" minOccurs="0" />
<xs:element name="invgnc" type="xs:double" />
<xs:element name="invppac" type="xs:double" />
<xs:element name="invpseg" type="xs:double" />
<xs:element name="invcoa" type="xs:string" minOccurs="0" />
<xs:element name="invigv" type="xs:string" minOccurs="0" />
<xs:element name="mednam" type="xs:string" minOccurs="0" />
<xs:element name="fecanu" type="xs:string" minOccurs="0" />
<xs:element name="useanu" type="xs:int" />
<xs:element name="siscod" type="xs:int" />
<xs:element name="coscom_t" type="xs:string" minOccurs="0" />
<xs:element name="cospro_t" type="xs:string" minOccurs="0" />
<xs:element name="mondol" type="xs:string" minOccurs="0" />
<xs:element name="tipcam" type="xs:string" minOccurs="0" />
<xs:element name="invuti_c" type="xs:string" minOccurs="0" />
<xs:element name="invuti_r" type="xs:string" minOccurs="0" />
<xs:element name="invuti_p" type="xs:string" minOccurs="0" />
<xs:element name="estado" type="xs:string" minOccurs="0" />
<xs:element name="feccre" type="xs:string" minOccurs="0" />
<xs:element name="fecumv" type="xs:string" minOccurs="0" />
<xs:element name="usecod" type="xs:int" />
<xs:element name="usenam" type="xs:string" minOccurs="0" />
<xs:element name="hostname" type="xs:string" minOccurs="0" />
<xs:element name="invmmax" type="xs:string" minOccurs="0" />
<xs:element name="plnemmfa" type="xs:string" minOccurs="0" />
<xs:element name="inverd" type="xs:string" minOccurs="0" />
<xs:element name="tdoidser" type="xs:string" minOccurs="0" />
<xs:element name="totpuntos" type="xs:string" minOccurs="0" />
<xs:element name="totcompro" type="xs:string" minOccurs="0" />
<xs:element name="tippln" type="xs:string" minOccurs="0" />
<xs:element name="totdto_a" type="xs:string" minOccurs="0" />
<xs:element name="meddir" type="xs:string" minOccurs="0" />
<xs:element name="ubicod" type="xs:string" minOccurs="0" />
<xs:element name="invnum_est" type="xs:string" minOccurs="0" />
<xs:element name="codanu" type="xs:string" minOccurs="0" />
<xs:element name="obsanu" type="xs:string" minOccurs="0" />
<xs:element name="diacod" type="xs:string" minOccurs="0" />
<xs:element name="dirrep" type="xs:string" minOccurs="0" />
<xs:element name="obsrep" type="xs:string" minOccurs="0" />
<xs:element name="invnum_cot" type="xs:int" />
<xs:element name="invnum_cen" type="xs:int" />
<xs:element name="staproc" type="xs:string" minOccurs="0" />
<xs:element name="moncod" type="xs:string" minOccurs="0" />
<xs:element name="fecdoc" type="xs:string" minOccurs="0" />
<xs:element name="fktienda" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertarVentasTiendaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>